@{
    ViewData["Title"] = "Admin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description"
          content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular." />
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="" />
    <meta property="twitter:creator" content="" />
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Vali Admin" />
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme" />
    <meta property="og:url"
          content="http://pratikborsadiya.in/blog/vali-admin" />
    <meta property="og:image" content="../blog/vali-admin/hero-social.png" />
    <meta property="og:description"
          content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular." />
    <title>Vali Admin - Free Bootstrap 4 Admin Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Main CSS-->
    <link href="~/admin/css/main.css" rel="stylesheet" />

    <!-- Font-icon css-->
    <link href="~/admin/css/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


</head>


<body>
    <main class="app-content">
        <partial name="_Header" />
        @RenderBody()
        <!--<partial name="_Footer" />--><!--/Footer-->
        <partial name="_Script" />
        @*@RenderSection("Script", false)*@
    </main>


</body>
</html>
